* {
  margin: 0px;
  padding: 0px;
}

.main {
  max-width: 1440px;
  height: 3568px;
  border: 1px solid black;
  background-color: white;
}
.main .knavbar {
  width: 1440px;
  height: 80px;
  background-color: #434ccc;
  display: flex;
  align-items: center;
}
.main .knavbar img {
  width: 95px;
  height: 28px;
  position: absolute;
  left: 135px;
}
.main .knavbar .kportfolio {
  width: 324px;
  height: 24px;
  position: absolute;
  left: 771px;
  display: flex;
  justify-content: space-between;
}
.main .knavbar .kportfolio a {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.main .knavbar .knavbttn {
  font-family: "DM Sans";
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 1px;
  position: absolute;
  margin-left: 1135px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #434ccc;
  color: #ffffff;
}
.main .container {
  max-width: 1440px;
  height: 2736px;
  background-color: rgba(67, 76, 204, 0.0515);
}
.main .container .container-1 {
  max-width: 1440px;
  height: 2000px;
  border: 1px solid black;
}
.main .container .container-2 #dolorum {
  height: 26px;
  width: 106px;
  margin-top: 20px;
  margin-left: 90px;
}
.main .container .container-2 #dolorum p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
.main .container .container-2 #reprehundent {
  height: 64px;
  width: 356px;
  margin-left: 90px;
}
.main .container .container-2 #reprehundent p {
  font-size: 40px;
  font-size: DM Serif Display;
  font-weight: 550;
}
.main .container .container-2 .cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main .container .container-2 .cont-img #cont-img-1 {
  width: 570px;
  height: 512px;
  position: relative;
}
.main .container .container-2 .cont-img #cont-img-1 #statue {
  position: absolute;
  bottom: 200px;
  left: 50px;
}
.main .container .container-2 .cont-img #cont-img-2 {
  width: 570px;
  height: 512px;
  position: relative;
}
.main .container .container-2 .cont-img #cont-img-2 #dog {
  position: absolute;
  bottom: 200px;
  left: 50px;
}
.main .container .container-2 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .container-2 .btn button {
  margin-top: 20px;
  padding: 15px 35px 15px 35px;
  border: 1px solid blue;
  font-size: 16px;
}
.main .subscribe {
  max-width: 1440px;
  height: 352px;
  border: 1px solid green;
  background-color: #ffdd78;
}
.main .subscribe .last-part {
  max-width: 1440px;
  height: 352px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #ffdd78;
}
.main .subscribe .last-part h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 135px;
  margin-top: 79px;
}
.main .subscribe .last-part .inner-part {
  display: flex;
  align-items: center;
  margin: 0px 135px 100px 135px;
}
.main .subscribe .last-part .inner-part .h1 {
  width: 516px;
  margin-right: 84px;
}
.main .subscribe .last-part .inner-part .h1 h1 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.main .subscribe .last-part .inner-part input {
  width: 370px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  margin-right: 30px;
  border-style: none;
}
.main .subscribe .last-part .inner-part button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  color: white;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.main .footer {
  max-width: 1440px;
  height: 400px;
  background-color: rgba(67, 76, 204, 0.0515);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .footer .footer-container {
  width: 1170px;
  height: 250px;
  display: flex;
}
.main .footer .footer-container .logo-social {
  flex-basis: 33.32%;
}
.main .footer .footer-container .logo-social #ls-child-1 {
  height: 62px;
  width: 32px;
  margin: 0px;
}
.main .footer .footer-container .logo-social #ls-child-1 p {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  font-family: "DM Serif Display", serif;
}
.main .footer .footer-container .logo-social #ls-child-2 {
  width: 270px;
  height: 79px;
  margin-bottom: 16px;
}
.main .footer .footer-container .logo-social #ls-child-2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .logo-social #ls-child-3 {
  width: 80px;
  height: 20px;
  display: flex;
  gap: 10px;
}
.main .footer .footer-container .causea {
  flex-basis: 16.66%;
}
.main .footer .footer-container .causea p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
  font-family: "DM Sans", sans-serif;
  color: rgb(12, 0, 0);
}
.main .footer .footer-container .causea ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main .footer .footer-container .causea li {
  margin-bottom: 20px;
}
.main .footer .footer-container .causea li a {
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .aperiri {
  flex-basis: 16.66%;
}
.main .footer .footer-container .aperiri p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
  font-family: "DM Sans", sans-serif;
  color: rgb(12, 0, 0);
}
.main .footer .footer-container .aperiri ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main .footer .footer-container .aperiri li {
  margin-bottom: 20px;
}
.main .footer .footer-container .aperiri li a {
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .latest-post {
  flex-basis: 33.32%;
  display: flex;
  flex-direction: column;
}
.main .footer .footer-container .latest-post .latest-post-1 {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}
.main .footer .footer-container .latest-post .latest-post-1 .latest-post-img {
  width: 70px;
  height: 48px;
  margin-top: 10px;
}
.main .footer .footer-container .latest-post .latest-post-1 .latest-post-dics p {
  font-size: 16px;
  color: rgb(12, 14, 15);
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .latest-post .latest-post-2 {
  display: flex;
  gap: 15px;
}
.main .footer .footer-container .latest-post .latest-post-2 .latest-post-img {
  width: 70px;
  height: 48px;
  margin-top: 10px;
}
.main .footer .footer-container .latest-post .latest-post-2 .latest-post-dics p {
  font-size: 16px;
  color: rgb(18, 20, 22);
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .base {
  display: flex;
  gap: 600px;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1170px;
  height: 40px;
  margin-top: 20px;
}

.ncontactmain {
  width: 1440px;
  height: 2304px;
  top: -382px;
  left: 11592px;
  background: #ffffff;
}
.ncontactmain .nnavBar {
  width: 1440px;
  height: 80px;
  background-color: #434ccc;
  display: flex;
  align-items: center;
}
.ncontactmain .nnavBar img {
  width: 95px;
  height: 28px;
  position: absolute;
  left: 135px;
}
.ncontactmain .nportfolio {
  width: 324px;
  height: 24px;
  position: absolute;
  left: 771px;
  display: flex;
  justify-content: space-between;
}
.ncontactmain .nportfolio a {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.ncontactmain .nnavbttn {
  font-family: "DM Sans", sans-serif;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  position: absolute;
  margin-left: 1135px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #434ccc;
  color: #ffffff;
}
.ncontactmain .nhiddenmenu {
  display: none;
  width: 20px;
  height: 14px;
  position: relative;
  top: 24px;
  left: 340px;
}
.ncontactmain .ncontact {
  width: 1440px;
  height: 224px;
  top: 80px;
  background-color: #434ccc;
  display: flex;
}
.ncontactmain .ncontact h1 {
  width: 249px;
  height: 80px;
  position: absolute;
  top: 127px;
  left: 596px;
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0px;
  color: #ffffff;
}
.ncontactmain .ncontact .npara {
  width: 324px;
  height: 32px;
  position: absolute;
  top: 217px;
  left: 558px;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.nMap {
  width: 1440px;
  height: 1248px;
  top: 304px;
  background-color: rgb(245, 246, 252);
}
.nMap .nmsg {
  width: 206px;
  height: 64px;
  position: absolute;
  top: 1068px;
  left: 135px;
}
.nMap h2 {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.nMask {
  width: 1170px;
  height: 640px;
  position: absolute;
  top: 368px;
  left: 135px;
  background-color: #434ccc;
  opacity: 1;
}

.nhiddenimg {
  display: none;
}

.nlocimg {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 652px;
  left: 684px;
}

.nnameInput {
  width: 401px;
  height: 76px;
  position: absolute;
  top: 1140px;
  left: 135px;
}

#nname {
  width: 401px;
  height: 48px;
  position: absolute;
  top: 28px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.nemailInput {
  width: 401px;
  height: 76px;
  position: absolute;
  top: 1140px;
  left: 569px;
}

#nemail {
  width: 401px;
  height: 48px;
  position: absolute;
  top: 28px;
  border: 1px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.ntextareainput {
  width: 834px;
  height: 172px;
  position: absolute;
  top: 1220px;
  left: 135px;
}

#ntextarea {
  width: 834px;
  height: 144px;
  position: absolute;
  top: 28px;
  border: 1px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.nsubbttn {
  width: 170px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 135px;
  background-color: #434ccc;
  border: none;
  color: white;
  border-radius: 6px;
}

.ninfo {
  width: 99px;
  height: 64px;
  position: absolute;
  top: 1068px;
  left: 1035px;
}

.ncombine1 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1168px;
  left: 1035px;
}

.ncombine2 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1248px;
  left: 1035px;
}

.ncombine3 {
  width: 48px;
  height: 37px;
  position: absolute;
  top: 1333px;
  left: 1035px;
}

.ncomb1text {
  width: 200px;
  height: 48px;
  position: absolute;
  top: 1167px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.ncomb2text {
  width: 200px;
  height: 32px;
  position: absolute;
  top: 1257px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.ncomb3text {
  width: 200px;
  height: 24px;
  position: absolute;
  top: 1343px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.nfacebook {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1035px;
  border-radius: 5px;
  background-color: #434ccc;
}

.ntwitter {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1091px;
  border-radius: 5px;
  background-color: #434ccc;
}

.ninsta {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1147px;
  border-radius: 5px;
  background-color: #434ccc;
}

.nfacebookimg {
  width: 9px;
  height: 18px;
  position: absolute;
  top: 1439px;
  left: 1055px;
}

.ntwitterimg {
  width: 18px;
  height: 15px;
  position: absolute;
  top: 1441px;
  left: 1106px;
}

.ninstaimg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1439px;
  left: 1162px;
}

.last-part {
  height: 352px;
  display: block;
  padding-left: 135px;
  padding-top: 78px;
  padding-right: 135px;
  background: #ffdd78;
}
.last-part h5 {
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 37px;
}
.last-part .inner-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.last-part .inner-part .h1 {
  width: 516px;
  padding-top: 21px;
}
.last-part .inner-part .h1 h1 {
  color: #000;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.last-part .inner-part .left-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.last-part .inner-part input {
  width: 370px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  margin-right: 30px;
  border-style: none;
  padding-left: 12px;
}
.last-part .inner-part button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  color: white;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.last-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f5f6fc;
  height: 320px;
  padding-left: 135px;
  padding-right: 135px;
  border-bottom: 0.5px solid #cbd5e1;
}
.last-container .logo {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  flex-wrap: wrap;
}
.last-container .logo h4 {
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.last-container .logo p {
  width: 270px;
  height: 79px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.last-container .logo .social {
  display: flex;
  column-gap: 12px;
  flex-wrap: wrap;
}
.last-container .second-c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 79px;
}
.last-container .second-c p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  gap: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.last-container .second-c .cause {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}
.last-container .third-c {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 38px;
  padding-top: 79px;
}
.last-container .third-c .bitmap {
  display: flex;
  gap: 30px;
}
.last-container .third-c .bitmap img {
  width: 71px;
  height: 48px;
  border-radius: 5px;
}
.last-container .third-c .bitmap p {
  color: rgba(0, 0, 0, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.last-container .third-c .bitmap .date {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #f5f6fc;
  padding-left: 135px;
  padding-right: 135px;
}
.footer .c1 {
  text-align: left;
  width: 50%;
}
.footer .c2 {
  text-align: right;
  width: 50%;
}
.footer p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 375px) {
  .ncontactmain {
    width: 375px;
    height: auto;
    top: -382px;
    left: 13132px;
  }
  .ncontactmain .nnavBar {
    width: 375px;
    height: 64px;
  }
  .ncontactmain .nnavBar img {
    width: 59px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 14px;
  }
  .ncontactmain .nportfolio {
    display: none;
  }
  .ncontactmain .nportfolio a {
    display: none;
  }
  .ncontactmain .nnavbttn {
    display: none;
  }
  .ncontactmain .nhiddenmenu {
    display: flex;
    width: 20px;
    height: 14px;
    top: 3px;
    left: 279px;
    position: absolute;
  }
  .ncontactmain .ncontact {
    width: 375px;
    height: 176px;
    top: 64px;
    background-color: #434ccc;
    display: flex;
  }
  .ncontactmain .ncontact h1 {
    width: 194px;
    height: 64px;
    position: absolute;
    top: 92px;
    left: 92px;
    font-family: DM Serif Display;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
  }
  .ncontactmain .ncontact .npara {
    width: 324px;
    height: 32px;
    position: absolute;
    top: 169px;
    left: 27px;
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .nMap {
    width: 375px;
    height: 1248px;
    top: 240px;
    background-color: rgb(245, 246, 252);
  }
  .nMap .nhiddenmain {
    display: none;
    width: 20px;
    height: 14px;
    top: 24px;
    left: 340px;
  }
  .nMap .nhiddenimg {
    display: block;
  }
  .nMap .nmsg {
    width: 147px;
    height: 48px;
    top: 490px;
    left: 14px;
    position: absolute;
  }
  .nMap h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    font-family: "DM Serif Display";
    color: #000000;
  }
  .nMask {
    width: 347px;
    height: 190px;
    top: 256px;
    left: 14px;
    position: absolute;
    background-color: #434ccc;
    opacity: 1;
  }
  .nlocimg {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 652px;
    left: 684px;
  }
  .nnameInput {
    width: 346px;
    height: 76px;
    top: 548px;
    left: 14px;
    position: absolute;
  }
  #nname {
    width: 346px;
    height: 48px;
    top: 28px;
    border: 1px;
    position: absolute;
    border: 1px solid #dadada;
    background: #ffffff;
  }
  .nemailInput {
    width: 346px;
    height: 76px;
    top: 612px;
    left: 14px;
    position: absolute;
  }
  #nemail {
    width: 346px;
    height: 48px;
    top: 28px;
    position: absolute;
    border: 1px solid #dadada;
    background: #ffffff;
  }
  .ntextareainput {
    width: 347px;
    height: 172px;
    top: 676px;
    left: 14px;
    position: absolute;
  }
  #ntextarea {
    width: 347px;
    height: 144px;
    top: 28px;
    position: absolute;
    border: 1px solid #dadada;
    background: #ffffff;
  }
  .nsubbttn {
    width: 170px;
    height: 48px;
    top: 880px;
    left: 14px;
    position: absolute;
    background-color: #434ccc;
    border: none;
    color: white;
    border-radius: 6px;
  }
  .ninfo {
    width: 71px;
    height: 48px;
    top: 1004px;
    left: 14px;
    position: absolute;
  }
  .ncombine1 {
    width: 48px;
    height: 48px;
    top: 1104px;
    left: 14px;
    position: absolute;
  }
  .ncombine2 {
    width: 48px;
    height: 48px;
    top: 1184px;
    left: 14px;
    position: absolute;
  }
  .ncombine3 {
    width: 48px;
    height: 37px;
    top: 1269px;
    left: 14px;
    position: absolute;
  }
  .ncomb1text {
    width: 277px;
    height: 48px;
    top: 1103px;
    left: 84px;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
  }
  .ncomb2text {
    width: 200px;
    height: 32px;
    top: 1193px;
    left: 84px;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    font-family: "DM Sans";
  }
  .ncomb3text {
    width: 200px;
    height: 24px;
    top: 1279px;
    left: 84px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    font-family: "DM Sans";
  }
  .nfacebook {
    width: 48px;
    height: 48px;
    top: 1360px;
    left: 14px;
    position: absolute;
    border-radius: 5px;
    background-color: #434ccc;
  }
  .ntwitter {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 1360px;
    left: 70px;
    border-radius: 5px;
    background-color: #434ccc;
  }
  .ninsta {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 1360px;
    left: 126px;
    border-radius: 5px;
    background-color: #434ccc;
  }
  .nfacebookimg {
    width: 9px;
    height: 18px;
    position: absolute;
    top: 1375px;
    left: 34px;
  }
  .ntwitterimg {
    width: 18px;
    height: 15px;
    position: absolute;
    top: 1377px;
    left: 85px;
  }
  .ninstaimg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1375px;
    left: 141px;
  }
  .last-part {
    height: 352px;
    display: block;
    padding-left: 14px;
    padding-top: 63px;
    padding-right: 15px;
    background: #FFDD78;
  }
  .last-part h5 {
    color: #000;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    align-self: flex-start;
    margin-top: 37px;
  }
  .last-part .inner-part {
    display: block;
  }
  .last-part .inner-part .h1 {
    width: 516px;
    padding-top: 21px;
  }
  .last-part .inner-part .h1 h1 {
    color: #000;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
  .last-part .inner-part .left-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
  }
  .last-part .inner-part input {
    width: 346px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background: #FFF;
    margin-right: 30px;
    border-style: none;
  }
  .last-part .inner-part button {
    width: 170px;
    height: 48px;
    align-self: flex-start;
  }
  .last-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #f5f6fc;
    height: auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 50px;
    border-bottom: 0.5px solid #cbd5e1;
  }
  .last-container .logo {
    display: flex;
    flex-direction: column;
    display: block;
  }
  .last-container .logo p {
    width: 346px;
    height: 79px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f5f6fc;
    padding: 20px 14px 20px 14px;
    gap: 8px;
  }
  .footer .c1 {
    width: 100%;
  }
  .footer .c2 {
    text-align: left;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
