* {
  margin: 0px;
  padding: 0px;
}

.main {
  max-width: 1440px;
  height: 3568px;
  border: 1px solid black;
  background-color: white;
}
.main .knavbar {
  max-width: 1440px;
  height: 80px;
  background-color: #434ccc;
  display: flex;
  align-items: center;
}
.main .knavbar img {
  width: 95px;
  height: 28px;
  position: absolute;
  left: 135px;
}
.main .knavbar .kportfolio {
  width: 324px;
  height: 24px;
  position: absolute;
  left: 771px;
  display: flex;
  justify-content: space-between;
}
.main .knavbar .kportfolio a {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.main .knavbar .knavbttn {
  font-family: DM Sans;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 1px;
  position: absolute;
  margin-left: 1135px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #434ccc;
  color: #ffffff;
}
.main .container {
  max-width: 1440px;
  height: 2736px;
  border: 1px solid red;
  background-color: rgba(67, 76, 204, 0.0515);
}
.main .subscribe {
  max-width: 1440px;
  height: 352px;
  border: 1px solid green;
  background-color: #ffdd78;
}
.main .subscribe .last-part {
  max-width: 1440px;
  height: 352px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #ffdd78;
}
.main .subscribe .last-part h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 135px;
  margin-top: 79px;
}
.main .subscribe .last-part .inner-part {
  display: flex;
  align-items: center;
  margin: 0px 135px 100px 135px;
}
.main .subscribe .last-part .inner-part .h1 {
  width: 516px;
  margin-right: 84px;
}
.main .subscribe .last-part .inner-part .h1 h1 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.main .subscribe .last-part .inner-part input {
  width: 370px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  margin-right: 30px;
  border-style: none;
}
.main .subscribe .last-part .inner-part button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  color: white;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.main .footer {
  max-width: 1440px;
  height: 400px;
  background-color: rgba(67, 76, 204, 0.0515);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .footer .footer-container {
  width: 1170px;
  height: 250px;
  display: flex;
}
.main .footer .footer-container .logo-social {
  flex-basis: 33.32%;
}
.main .footer .footer-container .logo-social #ls-child-1 {
  height: 62px;
  width: 32px;
  margin: 0px;
}
.main .footer .footer-container .logo-social #ls-child-1 p {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  font-family: "DM Serif Display", serif;
}
.main .footer .footer-container .logo-social #ls-child-2 {
  width: 270px;
  height: 79px;
  margin-bottom: 16px;
}
.main .footer .footer-container .logo-social #ls-child-2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .logo-social #ls-child-3 {
  width: 80px;
  height: 20px;
  display: flex;
  gap: 10px;
}
.main .footer .footer-container .causea {
  flex-basis: 16.66%;
}
.main .footer .footer-container .causea p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
  font-family: "DM Sans", sans-serif;
  color: rgb(12, 0, 0);
}
.main .footer .footer-container .causea ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main .footer .footer-container .causea li {
  margin-bottom: 20px;
}
.main .footer .footer-container .causea li a {
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .aperiri {
  flex-basis: 16.66%;
}
.main .footer .footer-container .aperiri p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
  font-family: "DM Sans", sans-serif;
  color: rgb(12, 0, 0);
}
.main .footer .footer-container .aperiri ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main .footer .footer-container .aperiri li {
  margin-bottom: 20px;
}
.main .footer .footer-container .aperiri li a {
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .latest-post {
  flex-basis: 33.32%;
  display: flex;
  flex-direction: column;
}
.main .footer .footer-container .latest-post .latest-post-1 {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}
.main .footer .footer-container .latest-post .latest-post-1 .latest-post-img {
  width: 70px;
  height: 48px;
  margin-top: 10px;
}
.main .footer .footer-container .latest-post .latest-post-1 .latest-post-dics p {
  font-size: 16px;
  color: rgb(12, 14, 15);
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .footer-container .latest-post .latest-post-2 {
  display: flex;
  gap: 15px;
}
.main .footer .footer-container .latest-post .latest-post-2 .latest-post-img {
  width: 70px;
  height: 48px;
  margin-top: 10px;
}
.main .footer .footer-container .latest-post .latest-post-2 .latest-post-dics p {
  font-size: 16px;
  color: rgb(18, 20, 22);
  font-family: "DM Sans", sans-serif;
  color: gray;
}
.main .footer .base {
  display: flex;
  gap: 600px;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1170px;
  height: 40px;
  margin-top: 20px;
}

.ncontactmain {
  width: 1440px;
  height: 2304px;
  top: -382px;
  left: 11592px;
  background: #ffffff;
}
.ncontactmain .nnavBar {
  width: 1440px;
  height: 80px;
  background-color: #434ccc;
  display: flex;
  align-items: center;
}
.ncontactmain .nnavBar img {
  width: 95px;
  height: 28px;
  position: absolute;
  left: 135px;
}
.ncontactmain .nportfolio {
  width: 324px;
  height: 24px;
  position: absolute;
  left: 771px;
  display: flex;
  justify-content: space-between;
}
.ncontactmain .nportfolio a {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.ncontactmain .nnavbttn {
  font-family: "DM Sans", sans-serif;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  position: absolute;
  margin-left: 1135px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #434ccc;
  color: #ffffff;
}
.ncontactmain .ncontact {
  max-width: 1440px;
  height: 224px;
  top: 80px;
  background-color: #434ccc;
  display: flex;
}
.ncontactmain .ncontact h1 {
  width: 249px;
  height: 80px;
  position: absolute;
  top: 127px;
  left: 596px;
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0px;
  color: #ffffff;
}
.ncontactmain .ncontact .npara {
  width: 324px;
  height: 32px;
  position: absolute;
  top: 217px;
  left: 558px;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.nMap {
  max-width: 1440px;
  height: 1248px;
  top: 304px;
  background-color: rgb(245, 246, 252);
}
.nMap .nmsg {
  width: 206px;
  height: 64px;
  position: absolute;
  top: 1068px;
  left: 135px;
}
.nMap h2 {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.nMask {
  width: 1170px;
  height: 640px;
  position: absolute;
  top: 368px;
  left: 135px;
  background-color: #434ccc;
  opacity: 1;
}

.nlocimg {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 652px;
  left: 684px;
}

.nnameInput {
  width: 401px;
  height: 76px;
  position: absolute;
  top: 1140px;
  left: 135px;
}

#nname {
  width: 401px;
  height: 48px;
  position: absolute;
  top: 28px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.nemailInput {
  width: 401px;
  height: 76px;
  position: absolute;
  top: 1140px;
  left: 569px;
}

#nemail {
  width: 401px;
  height: 48px;
  position: absolute;
  top: 28px;
  border: 1px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.ntextareainput {
  width: 834px;
  height: 172px;
  position: absolute;
  top: 1220px;
  left: 135px;
}

#ntextarea {
  width: 834px;
  height: 144px;
  position: absolute;
  top: 28px;
  border: 1px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.nsubbttn {
  width: 170px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 135px;
  background-color: #434ccc;
  border: none;
  color: white;
  border-radius: 6px;
}

.ninfo {
  width: 99px;
  height: 64px;
  position: absolute;
  top: 1068px;
  left: 1035px;
}

.ncombine1 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1168px;
  left: 1035px;
}

.ncombine2 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1248px;
  left: 1035px;
}

.ncombine3 {
  width: 48px;
  height: 37px;
  position: absolute;
  top: 1333px;
  left: 1035px;
}

.ncomb1text {
  width: 200px;
  height: 48px;
  position: absolute;
  top: 1167px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.ncomb2text {
  width: 200px;
  height: 32px;
  position: absolute;
  top: 1257px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.ncomb3text {
  width: 200px;
  height: 24px;
  position: absolute;
  top: 1343px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.nfacebook {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1035px;
  border-radius: 5px;
  background-color: #434ccc;
}

.ntwitter {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1091px;
  border-radius: 5px;
  background-color: #434ccc;
}

.ninsta {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1147px;
  border-radius: 5px;
  background-color: #434ccc;
}

.nfacebookimg {
  width: 9px;
  height: 18px;
  position: absolute;
  top: 1439px;
  left: 1055px;
}

.ntwitterimg {
  width: 18px;
  height: 15px;
  position: absolute;
  top: 1441px;
  left: 1106px;
}

.ninstaimg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1439px;
  left: 1162px;
}

.last-part {
  max-width: 1440px;
  height: 352px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #ffdd78;
}
.last-part h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 135px;
  margin-top: 79px;
}
.last-part .inner-part {
  display: flex;
  align-items: center;
  margin: 0px 135px 100px 135px;
}
.last-part .inner-part .h1 {
  width: 516px;
  margin-right: 84px;
}
.last-part .inner-part .h1 h1 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.last-part .inner-part input {
  width: 370px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  margin-right: 30px;
  border-style: none;
}
.last-part .inner-part button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  color: white;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
