* {
  margin: 0px;
  padding: 0px;
}

.main {
  max-width: 1440px;
  height: 3568px;
  border: 1px solid black;
  background-color: white;

  .knavbar {
    max-width: 1440px;
    height: 80px;
    background-color: #434ccc;
    display: flex;
    align-items: center;

    img {
      width: 95px;
      height: 28px;
      position: absolute;
      left: 135px;
    }

    .kportfolio {
      width: 324px;
      height: 24px;
      position: absolute;
      left: 771px;
      display: flex;
      justify-content: space-between;
    }

    .kportfolio a {
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: right;
      color: #ffffff;
      text-decoration: none;
    }

    .knavbttn {
      font-family: DM Sans;
      width: 170px;
      height: 48px;
      font-weight: 400;
      font-size: 16px;
      border-radius: 1px;
      position: absolute;
      margin-left: 1135px;
      letter-spacing: 0px;
      text-align: center;
      border: 1px solid #ffffff4d;
      background-color: #434ccc;
      color: #ffffff;
    }
  }

  .container {
    max-width: 1440px;
    height: 2736px;
    border: 1px solid red;
    background-color: rgba(67, 76, 204, 0.0515);
    //    background-color: #434ccc;
    //    opacity: 5.15%;
  }
  // SUBSCRIBE START
  .subscribe {
    max-width: 1440px;
    height: 352px;
    border: 1px solid green;
    background-color: #ffdd78;

    .last-part {
      max-width: 1440px;
      height: 352px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      background: #ffdd78;

      h5 {
        color: var(--Text_Black, #000);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        align-self: flex-start;
        margin-left: 135px;
        margin-top: 79px;
      }

      .inner-part {
        display: flex;
        align-items: center;
        margin: 0px 135px 100px 135px;

        .h1 {
          width: 516px;
          margin-right: 84px;

          h1 {
            color: var(--Text_Black, #000);
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
          }
        }

        input {
          width: 370px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 5px;
          border: 1px solid #dadada;
          background: #fff;
          margin-right: 30px;
          border-style: none;
        }

        button {
          width: 170px;
          height: 48px;
          flex-shrink: 0;
          background-color: #434ccc;
          color: white;
          border-radius: 5px;
          color: #fff;
          text-align: center;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
  } // SUBSCRIBE ENDS HERE

  // Footer start
  .footer {
    max-width: 1440px;
    height: 400px;
    background-color: rgba(67, 76, 204, 0.0515);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-container {
      width: 1170px;
      height: 250px;
      display: flex;
      // border: 1px solid black;

      .logo-social {
        flex-basis: 33.32%;

        #ls-child-1 {
          height: 62px;
          width: 32px;
          margin: 0px;

          p {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            font-family: "DM Serif Display", serif;
          }
        }

        #ls-child-2 {
          width: 270px;
          height: 79px;
          margin-bottom: 16px;

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            font-family: "DM Sans", sans-serif;
            color: gray;
          }
        }

        #ls-child-3 {
          width: 80px;
          height: 20px;
          display: flex;
          gap: 10px;
        }
      }

      .causea {
        flex-basis: 16.66%;

        p {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 23px;
          font-family: "DM Sans", sans-serif;
          color: rgb(12, 0, 0);
        }

        ul {
          list-style: none;
          margin: 0px;
          padding: 0px;
        }

        li {
          margin-bottom: 20px;

          a {
            font-family: "DM Sans", sans-serif;
            color: gray;
          }
        }
      }

      .aperiri {
        flex-basis: 16.66%;

        p {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 23px;
          font-family: "DM Sans", sans-serif;
          color: rgb(12, 0, 0);
        }

        ul {
          list-style: none;
          margin: 0px;
          padding: 0px;
        }

        li {
          margin-bottom: 20px;

          a {
            font-family: "DM Sans", sans-serif;
            color: gray;
          }
        }
      }

      .latest-post {
        flex-basis: 33.32%;
        display: flex;
        flex-direction: column;

        .latest-post-1 {
          display: flex;
          gap: 15px;
          margin-bottom: 50px;

          .latest-post-img {
            width: 70px;
            height: 48px;
            margin-top: 10px;
          }

          .latest-post-dics {
            p {
              font-size: 16px;
              color: rgb(12, 14, 15);
              font-family: "DM Sans", sans-serif;
              color: gray;
            }
          }
        }

        .latest-post-2 {
          display: flex;
          gap: 15px;

          .latest-post-img {
            width: 70px;
            height: 48px;
            margin-top: 10px;
          }

          .latest-post-dics {
            p {
              font-size: 16px;
              color: rgb(18, 20, 22);
              font-family: "DM Sans", sans-serif;
              color: gray;
            }
          }
        }
      }
    }

    // .line{
    //     max-width:1440px ;
    //     height: 1px;
    //     border: 1px solid black;
    //     margin-top: 10px;
    // }
    .base {
      display: flex;
      gap: 600px;
      justify-content: space-between;
      align-content: space-between;
      max-width: 1170px;
      height: 40px;
      // border: 1px solid black;
      margin-top: 20px;
    }
  } // Footer ends here
}

// SASS code for contact page

//Nishant Bhargava
.ncontactmain {
  width: 1440px;
  height: 2304px;
  top: -382px;
  left: 11592px;
  background: #ffffff;

  .nnavBar {
    width: 1440px;
    height: 80px;
    background-color: #434ccc;
    display: flex;
    align-items: center;
  }

  .nnavBar img {
    width: 95px;
    height: 28px;
    position: absolute;
    left: 135px;
  }

  .nportfolio {
    width: 324px;
    height: 24px;
    position: absolute;
    left: 771px;
    display: flex;
    justify-content: space-between;
  }

  .nportfolio a {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
  }

  .nnavbttn {
    font-family: "DM Sans", sans-serif;
    width: 170px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    position: absolute;
    margin-left: 1135px;
    letter-spacing: 0px;
    text-align: center;
    border: 1px solid #ffffff4d;
    background-color: #434ccc;
    color: #ffffff;
  }

  .ncontact {
    max-width: 1440px;
    height: 224px;
    top: 80px;
    background-color: #434ccc;
    display: flex;

    h1 {
      width: 249px;
      height: 80px;
      position: absolute;
      top: 127px;
      left: 596px;
      font-family: "DM Serif Display", serif;
      text-align: center;
      font-size: 72px;
      font-weight: 600;
      line-height: 80px;
      letter-spacing: 0px;
      color: #ffffff;
    }

    .npara {
      width: 324px;
      height: 32px;
      position: absolute;
      top: 217px;
      left: 558px;
      font-family: "DM Sans", sans-serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.nMap {
  max-width: 1440px;
  height: 1248px;
  top: 304px;
  background-color: rgb(245, 246, 252);

  .nmsg {
    width: 206px;
    height: 64px;
    position: absolute;
    top: 1068px;
    left: 135px;
  }

  h2 {
    font-family: "DM Serif Display";
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
  }
}

.nMask {
  width: 1170px;
  height: 640px;
  position: absolute;
  top: 368px;
  left: 135px;
  background-color: #434ccc;
  opacity: 1;
}

.nlocimg {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 652px;
  left: 684px;
}

.nnameInput {
  width: 401px;
  height: 76px;
  position: absolute;
  top: 1140px;
  left: 135px;
}

#nname {
  width: 401px;
  height: 48px;
  position: absolute;
  top: 28px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.nemailInput {
  width: 401px;
  height: 76px;
  position: absolute;
  top: 1140px;
  left: 569px;
}

#nemail {
  width: 401px;
  height: 48px;
  position: absolute;
  top: 28px;
  border: 1px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.ntextareainput {
  width: 834px;
  height: 172px;
  position: absolute;
  top: 1220px;
  left: 135px;
}

#ntextarea {
  width: 834px;
  height: 144px;
  position: absolute;
  top: 28px;
  border: 1px;
  border: 1px solid #dadada;
  background: #ffffff;
}

.nsubbttn {
  width: 170px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 135px;
  background-color: #434ccc;
  border: none;
  color: white;
  border-radius: 6px;
}

.ninfo {
  width: 99px;
  height: 64px;
  position: absolute;
  top: 1068px;
  left: 1035px;
}

.ncombine1 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1168px;
  left: 1035px;
}

.ncombine2 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1248px;
  left: 1035px;
}

.ncombine3 {
  width: 48px;
  height: 37px;
  position: absolute;
  top: 1333px;
  left: 1035px;
}

.ncomb1text {
  width: 200px;
  height: 48px;
  position: absolute;
  top: 1167px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.ncomb2text {
  width: 200px;
  height: 32px;
  position: absolute;
  top: 1257px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.ncomb3text {
  width: 200px;
  height: 24px;
  position: absolute;
  top: 1343px;
  left: 1105px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.nfacebook {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1035px;
  border-radius: 5px;
  background-color: #434ccc;
}

.ntwitter {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1091px;
  border-radius: 5px;
  background-color: #434ccc;
}

.ninsta {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1424px;
  left: 1147px;
  border-radius: 5px;
  background-color: #434ccc;
}

.nfacebookimg {
  width: 9px;
  height: 18px;
  position: absolute;
  top: 1439px;
  left: 1055px;
}

.ntwitterimg {
  width: 18px;
  height: 15px;
  position: absolute;
  top: 1441px;
  left: 1106px;
}

.ninstaimg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1439px;
  left: 1162px;
}

//rohan

.last-part {
  max-width: 1440px;
  height: 352px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #ffdd78;

  h5 {
    color: var(--Text_Black, #000);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 135px;
    margin-top: 79px;
  }

  .inner-part {
    display: flex;
    align-items: center;
    margin: 0px 135px 100px 135px;

    .h1 {
      width: 516px;
      margin-right: 84px;

      h1 {
        color: var(--Text_Black, #000);
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
      }
    }

    input {
      width: 370px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 5px;
      border: 1px solid #dadada;
      background: #fff;
      margin-right: 30px;
      border-style: none;
    }

    button {
      width: 170px;
      height: 48px;
      flex-shrink: 0;
      background-color: #434ccc;
      color: white;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  }
}
