body{
    margin: 0%;
    padding: 0%;
}
.navBar{
    width: 1440px;
    height:80px;
    background-color: #434CCC;
}
.last-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: auto;
    background: #FFDD78;

    :nth-child(1){
       width: 45%; 
    //    background-color: aliceblue;
       
       h5{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-top: 79px;
        margin-left: 135px ;
       }
       h2{
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        margin-left:135px ;
        margin-top: 21px;
       }

    }
    :nth-child(2){
        // width: 50%;
       display: flex;
       flex-wrap: wrap;
       column-gap: 15px;
       
       input{
        width: 370px;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #DADADA;
        background: #FFF;
        border: none;
        // margin-right: 335px;
        ::placeholder{
            margin: 13px 314px 11px 16px;
        }
       }
       button{
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background:#434CCC;
        margin-right: 135px;
        p{
            color: #FFF;
            text-align: center;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700px;
            line-height: 24px;
            margin: 13px 45.5px 11px;
        }
       }
     }
}

